.body1{
    background-color: aqua !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size:large;
}


.ajax__tab_header {
    background-color: cadetblue;
    cursor: pointer;
    font-weight: bold;
    color: #000;
    display: block;
    font-family: verdana,tahoma,helvetica;
}

    .ajax__tab_header .ajax__tab_outer {
        text-align:center;
        
        font-size: 25px;
        width: 265px;
        height: 46px;
        color:black;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    .ajax__tab_header .ajax__tab_inner {
        border-color: #f00;
        height: 46px;
        
        width: 265px;
    }

.ajax__tab_hover .ajax__tab_outer {
   
}

.ajax__tab_hover .ajax__tab_inner {
    color: #fff;
   
}

.ajax__tab_active .ajax__tab_outer {
    border-bottom-color: #ffffff;
    background-color: #d7d7d7;
}

.ajax__tab_active .ajax__tab_inner {
    color: #000;
    background-color: cadetblue;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-color: black;
}

.ajax__tab_body {
    margin-top: 17px;

 
    font-family: verdana,tahoma,helvetica;
}